.flex-container {
    min-height: 100vh;
    display: flex; /* Standard syntax */
    flex-direction: column;
    flex-flow: row wrap;
    background-color:  rgb(51, 75, 46);
    position: fixed;
    width: 100%;
    top: 65px;
    z-index: 2;
 }

.outsideinputcontainer{
    height: 43vh;
    width: 20px;
    
    margin:10px;
    padding:5px;
    padding-left: 2px;
    padding-right: 5px;
    background-color: rgb(10, 100, 62);
    border-radius: 20px;
    flex: auto;
}
.insideinputcontainer{
    width: 295px;
    height: auto;
    padding-left: 5px;
    background-color: rgb(10, 100, 62);;
    border-radius: 5px;
    position: relative;
    margin-left:15px;
    
   
}
.control{
    font-size: 12px;
    height:10px;
    padding: 5px;
    border-radius: 10px;
    width: 272px;
    background-color: rgb(32, 179, 134);
}
.control1{
    font-size: 12px;
    height:10px;
    padding: 5px;
    border-radius: 20px;
    width: 49px;
    background-color: rgb(32, 179, 134);
}
.fontc{
    color:white;
    font-size: 13px;
}
.addButtonAppliance{
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
    border-radius: 12px;
    width:170px;
    padding: 10px;
    background-color: rgb(177, 194, 28);
}
.watts{
    top:150px;
    left: 600px; 
    color:white;
    font-size: 20px;
    border-radius: 10;
    width:100px;
}
